aside {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: content-box;
    width: clamp(250px, 30vw, 300px);
    background-image: url("../images/background.png");
    height: 100dvh;
    background-position: center;
    background-size: cover;
    position: relative;
}

aside::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000007f;
}

@media(max-width: 600px) {
    aside {
        width: 0;
        overflow: hidden;
        height: 100vh;
        display: none;
    }

    aside.active{
        width: 100vw;
        display:flex;
    }
}