#chat {
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 0 5%;
    position: relative;
    margin: 10px 0;
}

.receiver-text {
    text-align: right;
    background-color: #D9D9D9;
    border-radius: 0 20px 20px 20px;
}

.sender-text {
    text-align: left;
    background-color: #2C34F1;
    border-radius: 20px 0px 20px 20px;
    color: #fff;
    align-self: flex-end;
}

.text-container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.text {
    min-width: 100px;
    max-width: 50vw;
    width: fit-content;
    word-wrap: break-word;
    padding: 10px;
    font-size: 24px;
}