.contact {
    min-height: 60px;
    width: 100%;
    position: relative;
    padding-left: 10px;
    border-left: 4px #fff solid;
    transition: border-left 0.2s;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
    background-color: #00000044;
}

#contact-info{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    color: #FFFFFF;
}

.contact:hover {
    cursor: default;
    border-left: 8px var(--secondary-blue) solid;
}

.contact.active {
    padding-left: 10px;
    border-left: 8px var(--semantic-blue) solid;
}

.contact-title {
    font-size: large;
    font-weight: 500;
    color: #fff;
    min-width: fit-content;
    white-space: nowrap;
}

.contact-status{
    max-width: 120px;
    overflow: hidden;
    height: 25px;
    text-overflow: ellipsis;
    color: #ccc;
}

#contact-info .contact-username{
    color: #fff;
}

#contact-info .loading{
    background: linear-gradient(30deg, #b3b1b1,#b3b1b1,#b3b1b1, #fbfbfb,#b3b1b1,#b3b1b1, #b3b1b1);
    background-size: 400% 100%;
    background-position: center;
    border-radius: 5px;
    animation: load 2s alternate infinite;
    overflow: auto;
    height: 15px;
    margin: 5px 0;
}

.contact-title.loading{
    display:block;
    height: 20px;
    animation: load 5s alternate infinite;
}

@keyframes load {
    0%{
        background-position: 0 0;
        opacity: 0.5;
    }
    100%{
        background-position: 100% 100%;
        opacity: 0.1;
    }
}

@media(max-width: 600px) {
    .contact {
        margin: 0;
        border-bottom: none;
        min-width: 160px;
        overflow-y: hidden;
    }
}