#contacts {
    overflow-y: auto;
    position: relative;
    margin-top: 10px;
    transform: translate(0, 0);
}

#no-contacts-display{
    color: #FFF;
    padding: 10px;
}

#no-contacts-display small{
    color: var(--light-blue)
}

@media(max-width: 600px) {
    #contacts {
        padding-top: 10px;
    }
}