.contact {
    min-height: 60px;
    width: 100%;
    position: relative;
    padding-left: 10px;
    border-left: 4px #fff solid;
    transition: border-left 0.2s;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
    background-color: #00000044;
}

#contact-info{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    color: #FFFFFF;
}

.contact:hover {
    cursor: default;
    border-left: 8px var(--secondary-blue) solid;
}

.contact.active {
    padding-left: 10px;
    border-left: 8px var(--semantic-blue) solid;
}

.contact-title {
    font-size: large;
    font-weight: 500;
    color: #fff;
    min-width: fit-content;
    white-space: nowrap;
}

.contact-status{
    max-width: 120px;
    overflow: hidden;
    height: 25px;
    text-overflow: ellipsis;
    color: #ccc;
}

#contact-info .contact-username{
    color: #fff;
}

@media(max-width: 600px) {
    .contact {
        margin: 0;
        border-bottom: none;
        min-width: 160px;
        overflow-y: hidden;
    }
}