.contact {
    height: 60px;
    position: relative;
    width: 100%;
    padding-left: 10px;
    border-left: 4px black solid;
    transition: border-left 0.2s;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.contact:hover {
    backdrop-filter: brightness(1.1);
    cursor: default;
    border-left: 8px black solid;
}

.contact.active {
    backdrop-filter: brightness(1.5);
    padding-left: 10px black solid;
    border-left: 8px blue solid;
}

.contact-title {
    bottom: 0;
    font-size: large;
    font-weight: 500;
    color: #000;
}

@media(max-width: 600px) {
    .contact {
        margin: 0;
        border-bottom: none;
        height: 100%;
        min-width: 160px;
        overflow-y: hidden;
    }
}