.display {
    flex-grow: 1;
}

#contact-search {
    width: 450px; 
    max-width: 70%;
    height: 40px;
    border: 3px #bbb solid;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin: 30px auto;
    justify-content: space-between;
}

#search-input {
    flex-grow: 1;
    border-radius: 100px 0 0 100px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 15px;
    height: 100%;
    min-width: 0;
}

.search-load{
    margin: auto;
}

#search-button {
    border-radius: 50%;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    margin-right: 3px;
    background-color: #3E9BC2;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    padding: 0;
}

#search-button .lds-ring,
#search-button .lds-ring div{
    max-width: 10px;
    max-height: 10px;
}

#search-results {
    display: grid;
    height: 180px;
    display: flex;
    width: 50vw;
    gap: 20px;
    align-items: center;
    padding: 0 30px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

#home #menu,
#home #options{
    display: none;
}

@media(max-width: 600px) {
    #home{
        display:none;
    }
    
    #search-results {
        width: 90vw;
    }

    #home #menu{
        display: flex;
    }

    #home #options{
        display: block;
    }
}