* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

:root{
    --primary-blue: #2964c9;
    --secondary-blue: #bad2ff;
    --semantic-blue: #2C34F1;
    --light-blue: #279fd3;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

.space {
    flex-grow: 1;
}