#text-input {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
    padding: 20px 10%;
}

#text-input #text-area {
    resize:none;
    height: 50px;
    min-height: 50px;
    max-height: 50vh;
    overflow-y: auto;
    border-radius: 13px;
    padding: 15px;
    flex-grow: 1;
    font-size: 15px;
    border: 1px #666 solid;
}

#text-input button {
    height: 50px;
    min-width: 50px;
    border-radius: 39px;
    border: 0.5px #000 solid;
    background-color: var(--primary-blue);
    cursor: pointer;
    font-size: 20px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-input button:hover {
    filter: contrast(10);
}


@media(max-width: 600px) {
    #text-input {
        justify-content: space-around;
    }
    #text-input textarea {
        width: 70vw;
    }
}