body {
    overflow: hidden;
}

#background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
    position: absolute;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

#background::after {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    top: 0;
    z-index: 0;
}