#main {
    position: relative;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

@media(max-width: 600px) {
    #main {
        flex-direction: column;
        height: 100vh;
    }
}