#menu {
    background: #2C34F1;
    background-color: #3E9BC2;
    display: flex;
    align-items: center;
}

.menu-icon {
    padding: 5px;
    cursor: pointer;
}

#plus {
    transition: 1s;
    z-index: 3;
}

#plus.active {
    transform: rotateZ(135deg);
}