#menu {
    background-color: #3E9BC2;
    display: flex;
    align-items: center;
}

.menu-icon {
    padding: 5px;
    cursor: pointer;
    width: 50px;
    height: 35px;
}

.menu-icon:hover {
    color: #fff;
    background-color: #fff;
}

#plus {
    transition: 1s;
    z-index: 3;
}

#plus.active {
    transform: rotateZ(135deg);
}