#options {
    display: block;
    position: absolute;
    top: 0px;
    width: clamp(250px, 30vw, 300px);
    height: 219px;
    padding-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 2;
    background: var(--semantic-blue);
    transform: translateX(-100%);
    transition: transform 0.5s;
}

#options.active {
    transform: translateX(0px);
}

.option {
    width: 70%;
    height: 30px;
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
    transition: border-left 0.5s, padding-left 0.5s;
    width: 80%;
    border-left: 3px #000 solid;
    color: #fff;
}

.option:hover {
    border-left: 15px #fff solid;
    padding-left: 15px;
}

@media(max-width: 600px) {
    #options {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        transform: translateX(100%);
    }
}