#profile{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 auto;
    height: 100dvh;
}

#profile #menu,
#profile #options{
    display: none;
}

#profile-head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    margin: 30px 0;
    gap: 30px;
    padding: 30px;
    text-overflow: ellipsis;
}

#profile-name{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

#profile-username{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

#profile-img{
    border-radius: 50%;
    object-fit: cover;
}

#profile-info, #edit-form{
    width: 300px;
    font-size: 20px;
    color: #999;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#pen-img{
    position: absolute;
    bottom: 100%;
    right: 0;
    color: #aaa;
    cursor: pointer;
}

#pen-img:hover{
    color: #000;
}

#edit-form label{
    text-align: left;
    font-size: 15px;
}

#edit-form input[type="text"]{
    border: 0;
    outline: 0;
    box-shadow: 0 1px var(--secondary-blue);
    margin-bottom: 10px;
    transition: 0.2s;
}

#edit-form input[type="text"]:focus {
    box-shadow: 0 2px var(--primary-blue);
}

#edit-form input[type="submit"]{
    border:none;
    outline: 5px var(--secondary-blue) solid;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

#edit-form input[type="submit"]:hover{
    background-color: var(--primary-blue);
    color: #fff;
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7px;
}

#file-upload{
    height: 35px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
}

#file-upload:hover{
    text-decoration: none;
}

@media(max-width: 600px){
    #profile{
        display: none;
    }
    
    #profile.active{
        display: flex;
        width: 100vw;
    }
    #profile #menu{
        display: flex;
    }

    #profile #options{
        display:block;
    }

    #profile #home{
        display: block;
    }

    #profile #home #menu{
        display: none;
    }
}