#profile {
    position: relative;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 600px) {
    #profile {
        display: none;
    }
}