.contact-container {
    width: 130px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #ccc solid;
    border-radius: 10px;
    justify-content: center;
    background-color: #eee;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contact-container:hover {
    filter: brightness(0.95);
}

.chat-button,
.add-button {
    cursor: pointer;
    border: none;
    outline: none;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    font-weight: 900;
}

.chat-button {
    background-color: #3E9BC2;
    color: #fff;
}

.add-button{
    color: var(--light-blue);
    background-color: #FFFFFF
}

.contact-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

#search-contact .contact-name{
    text-overflow: ellipsis;
    overflow: hidden;
}

#search-contact .contact-username{
    font-size: 10px;
    color: #000;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}