.text-option-icon{
    height: 15px;
    position: absolute;
    top: 10px;
    right: 5px;
    display: none;
    cursor: pointer;
}


.text-options{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    font-size: 15px;
    width: 100px;
    padding: 10px;
    right: 10px;
    top: 30px;
}

.text-option{
    cursor: pointer;
}

.text-option:hover{
    text-decoration: underline;
}

.text-options.active{
    display: block;
}

.text:hover .text-option-icon,
.text:focus .text-option-icon{
    display: block;
}