#contacts {
    width: 100%;
    height: 100vh;
    background-color: #3E9BC2;
    border-right: 1px black solid;
}

#main {
    position: relative;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

#contacts-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
}

#create-contact,
#options {
    width: 100%;
    height: 0;
    background-color: #2C34F1;
    border-bottom: 1px #000 solid;
    text-align: center;
    transition: height 1s;
}

#create-contact.active,
#options.active {
    height: 200px;
}

#options {
    height: 0;
}

#menu {
    background: #2C34F1;
    display: flex;
    align-items: center;
}

.menu-icon {
    padding: 5px;
    cursor: pointer;
}

#hamburger {
    transition: 0.3s;
    z-index: 3;
}

#hamburger.active {
    transform: rotateZ(45deg);
}

#create-contact input {
    top: 0;
    width: 90%;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    height: 50px;
}

#create-contact button {
    width: 200px;
    max-width: 90%;
    height: 40px;
    margin-top: 17px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
}

#create-contact button:hover {
    cursor: pointer;
    background-color: #c7c7c7;
}

#messageDisplay {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

#text-input {
    background-color: #D9D9D9;
    min-height: 100px;
    align-items: center;
    border-top: 1px #000 solid;
    display: flex;
    justify-content: space-evenly;
}

#text-input textarea {
    resize: vertical;
    min-height: 78px;
    left: 70px;
    border-radius: 39px;
    padding: 10px;
    width: 40vw;
    min-width: 20vw;
    overflow-y: hidden;
    font-size: 24px;
}

#text-input button {
    height: 78px;
    width: 10vw;
    right: 70px;
    border-radius: 39px;
    border: 0.5px #000 solid;
    background-color: #2C34F1;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

#text-input button:hover {
    background-color: white;
}

#chat {
    overflow-y: auto;
}

.space {
    flex-grow: 1;
}

.text-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 70px
}

.text {
    position: absolute;
    height: 100%;
    margin-bottom: 10px;
    min-width: 100px;
    width: fit-content;
    padding: 10px;
    font-size: 24px;
}

.receiver-text {
    left: 2vw;
    text-align: right;
    background-color: #D9D9D9;
    margin-left: 5px;
    border-radius: 0 20px 20px 20px;
}

.sender-text {
    justify-self: right;
    right: 2vw;
    text-align: left;
    background-color: #2C34F1;
    margin-right: 3px;
    border-radius: 20px 0px 20px 20px;
    color: #fff;
}

#no-text-display {
    display: flex;
    justify-content: center;
}

.contact {
    height: 50px;
    position: relative;
    border-bottom: 1px black solid;
    background-color: #D9D9D9;
}

.contact.active {
    background-color: #f5f5f5;
}

.contact:hover {
    background-color: #f5f5f5;
}

.contact-title {
    position: absolute;
    bottom: 0;
    font-size: large;
    font-weight: 500;
    color: #000;
}

@media(max-width: 600px) {
    #main {
        flex-direction: column;
        height: 100vh;
    }
    #contacts-container {
        flex-direction: row-reverse;
        width: 100vw;
        max-height: 60px;
        z-index: 1;
    }
    #create-contact,
    #options {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50vw;
        border: 0px black solid;
        height: 0px;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 2;
    }
    #create-contact.active,
    #options.active {
        height: 200px;
    }
    #create-contact input {
        margin-top: 70px;
    }
    #contacts {
        display: flex;
        height: 60px;
    }
    .contact {
        margin: 0;
        border-right: 2px #000 solid;
        border-bottom: none;
        width: 100px;
        height: 100%;
    }
    #messageDisplay {
        position: absolute;
        width: 100vw;
        padding-top: 60px;
    }
    #text-input {
        justify-content: space-around;
    }
    #text-input textarea {
        width: 70vw;
    }
    #text-input button {
        width: 100px;
    }
}